.auth{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__form{
    max-width: 400px;
    width: 100%;
    background-color: rgb(82, 80, 80);
    height: 500px;
}

.auth__nav{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a{
        color: #fff;
    }
}

.auth__link__active{
    border-bottom: 2px solid #fff;
}